/* Page */

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  background-color: black;
  opacity: 0.9;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: black;
}

h2, h3, h4{
  margin: 0;
  padding: 10px;
}

/* Header */

header{
  display: flex;
  position:fixed;
  flex-direction: row;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: auto;
}

.logo{
  display: flex;
  height: 50px;
  padding-left: 10px;
  align-items: center;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

nav a{
  color: inherit;
}

nav{
  text-align: right;
  flex-grow: 1;
}

/* Main Content */

.content{
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

div{
  display: block;
}

/* Mission */

#mission{
  height: 700px;
  background-image: url(../Images/img-mission-background.jpg);
  padding-top: 70px;
  margin: auto;

}

#mission .flex-container{
  margin: auto;
  width: 100%;
}

h2, h4 {
  margin: 0px;
  padding: 10px;
  display: block;
  font-weight: bold;
}

/* Tea */

#tea{
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.items img{
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}

#tea span{
  margin-top: 10px;
}

/* Locations */

#locations{
  height: 500px;
  width: 100%;
  padding-top: 50px;
  background-image: url(../Images/img-locations-background.jpg);
}

h3 {
  margin: 0px;
  padding: 10px;
  display: block;
  font-weight: bold;
}

.location{
  background-color: black;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 20px;
  opacity: 1.0;
}

/* Contact */

.contact{
  height: 200px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

/* Footer */

.footer{
  text-align: left;
  padding-left: 20px;
}
